APP_PORT=8080
DATABASE_URL=postgresql://user:password@localhost:5432/dbname?sslmode=disable
APP_URL=http://localhost:8080
JWT_SECRET=your_jwt_secret_here
JWT_TTL_HOURS=24
EMAIL_SERVICE=Gmail
EMAIL_ADDRESS=you@example.com
EMAIL_PASSWORD=your_app_password_here
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
CLOUD_NAME=your_cloud_name
CLOUD_API_KEY=your_cloud_api_key
CLOUD_API_SECRET=your_cloud_api_secret
CLOUDINARY_UPLOAD_PRESET=your_upload_preset
STRIPE_SECRET_KEY=sk_test_your_key_here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_key_here
STRIPE_WEBHOOKS_SIGNING_SECRET=whsec_your_secret_here
QR_SIGNING_SECRET=your_qr_signing_secret_here
STRIPE_PRICE_PRO=price_your_pro_price_id
STRIPE_PRICE_SCALE=price_your_scale_price_id

# stripe listen --forward-to localhost:8080/api/v1/webhooks/stripe \
#   --events checkout.session.completed,customer.subscription.created,customer.subscription.updated,customer.subscription.deleted,invoice.payment_succeeded,invoice.payment_failed
